// CALCULATE
#calculate.calculate
  .container
    h1.text-center.color-white.wow Расчет стоимости монтажа
    .wrapper

      form(action="#" js-calculateForm).calculate__form.wow(data-animation-delay=".1s")
        .banner__form-el.position-relative
          select(name="house")
            option(value="Загородный дом") Загородный дом
            option(value="Котедж") Котедж
            option(value="Вилла") Вилла
            option(value="Особняк") Особняк
        .calculate__type
          input(type="hidden" name="type")
          .calculate__type-icon
            i.icon.icon-housingType1
          .calculate__type-name Двускатная
          .calculate__type-change Изменить
          
          .calculate__type-dropdown
            +icon('ico-close')
            .calculate__type-dropdown-grid
              .calculate__type-el(data-type="1").is-selected
                i.icon.icon-housingType1
                span Двускатная
              .calculate__type-el(data-type="2")
                i.icon.icon-housingType2
                span Конверт
              .calculate__type-el(data-type="3")
                i.icon.icon-housingType3
                span Двускатная со слуховым окном
              .calculate__type-el(data-type="4")
                i.icon.icon-housingType4
                span Шатровая
              .calculate__type-el(data-type="5")
                i.icon.icon-housingType5
                span Двускатная домашняя
              .calculate__type-el(data-type="6")
                i.icon.icon-housingType6
                span Вальмовая 4-скатная
              .calculate__type-el(data-type="7")
                i.icon.icon-housingType7
                span Вальмовая двускатная
              .calculate__type-el(data-type="8")
                i.icon.icon-housingType8
                span Двускатная с навесом     
                   
        .banner__form-row
          .banner__form-el
            input(type="text", name="square" , placeholder="Площадь фасада").form-el-custom-size
            span.square__number кв.м
          .banner__form-el.position-relative
            select(name="material")
              option(value="Материал") Материал
              option(value="Дерево") Дерево
              option(value="Кирпич") Кирпич
              option(value="Штукатурка") Штукатурка
        .banner__form-el
          input(type="checkbox" , value="Нужно утепление" , name="warming", id="checkbox-5")
          span
          label(for="checkbox-5") Нужно утепление
        .banner__form-result.text-center
          p.form__result-title Стоимость: <br><strong>от <i>1 500</i> рублей</strong>
          p.form__result-subtitle В кредит от <i>142</i> рублей в месяц
        .banner__form-el.form-el-size
          input(type="checkbox" , value="Согласен на обработку данных" , id="agree_2" name="agree_2" , checked)
          span
          label(for="agree_2") Я согласен на <a href="#privacy" class="personal__data">обработку моих персональных данных</a>
        .banner__form-el.banner__form-cta
          input(type="submit" , value="ОТПРАВИТЬ ЗАЯВКУ")
